@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

#main{
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px #00000023;
    padding: 1% 3% 1% 3%;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}
  
nav ul {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero{
    padding: 5%;
    background-image: url(https://lh3.google.com/u/1/d/106xmursOOEQvulelyQJjFGnnqspXEphO=w1366-h576-iv1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

#hero-text{
    margin-bottom: 5%;
}

input[type="email"] {
    max-width: 70%;
    width: 100%;
    padding: 10px;
}

.btn{
    padding: 12px;
    background-color: #34375A;
    border: none;
    color: white; 
    text-transform: uppercase;
    font-weight: 600;  
}

.blank-container{
    height: 82px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.grid{
    display: flex;
}

#features{
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 15vw;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 50vw;
}

#video-element{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 5%; 
}

ol li{
    list-style: none;
    display: flex;
    justify-content: center;
    height: 2vw;
}

#pricing{
    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin-top: 5%;
}

.package-name{
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 5%;
    width: 100%;
    color: #DC4E76;
    display: flex;
    justify-content: center;
}

#basic{
    width: 20%; 
    background-color: white;
    margin-right: 2%;
}

#standard{
    width: 20%;
    background-color: white;
    margin-right: 2%;
}

#premium{
    width: 20%;
    background-color: white;
}

.pack-attr{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foot li{
    list-style: none;
    width: 5vw;
}

#foot{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1%;
}

#copy{
    padding-bottom: 1%;
    color: rgb(129, 129, 129); 
}

#price{ 
    margin-top: 5%;
    margin-bottom: 20%;
}

#basic-order{
    margin-top: 60%;
    margin-bottom: 5%;
}

#stan-order{
    margin-top: 46%;
    margin-bottom: 5%;
}

#prem-order{
    margin-top: 18%;
    margin-bottom: 5%;
}

@media screen and (max-width: 640px){
    header {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 50px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .blank-container{
        height: 120px;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    
    #hero-text{
        margin-top: 5%;
    }

    .btn{
        margin-top: 5%;  
        margin-bottom: 5%;
    }

    .icon{
        display: none;
    }

    .desc{
        text-align: center;
        margin: 0 auto;
        width: 80%;
        height: 35vw;
        margin-bottom: 5%;
    }

    #pricing{
        flex-direction: column;
    }

    #basic{
        width: 100%; 
        background-color: white;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    
    #standard{
        width: 100%;
        background-color: white;  
        margin-bottom: 5%;  
    }
    
    #premium{
        width: 100%;
        background-color: white;
        margin-bottom: 5%;
    }
    
    ol li{
        height: 6vw;
    }

    #footer{
        padding: 5%;
    }

    #foot li{
        list-style: none;
        width: 20vw;
    }
}